* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
}
.cur{
    cursor: pointer;
}

.nav_logo{
    height: 50px;
    width: 100px;
}

.logo1 {
    background-image: url(static/logo.jpeg);
    background-size: cover;
    height: 47px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.add-first{
    margin-left: 15px;
    color:#cccccc;
    font-size: .5rem;;
}
.add-icon{
    display:flex;
    align-items: center;
}
.add-second{
    font-size: 1rem;
}
.searchbox{
    height: 40px;
    width:650px;
    background-color: rgba(252, 199, 6, 0.922);
    display:flex;
    border-radius: 4px;
}
.searchbox:hover{
    border:2px solid orangered;
}
.drop_all{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.search_icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.searchamazon{
    width: 100%;
    font-size: 1rem;
}
span{
    font-size:0.7rem;
}
.nav-second{
    font-size:.85rem;
    font-weight: 700;
}
.navcart i{
    font-size: 30px;
}
.navcart{
    font-size: .85rem;
    display:flex;
    align-items: end;
    font-weight: 700;
}
.panel{
    height:39px;
    background-color: #112733 ;
    /* background-color: #0f1111ee; */
    color:#FFFFFF;
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
}
.all{
    width:58.41px;
    height:39px;
    display:flex;
    align-items: center;
    justify-content: center ;
}
.component{
    height:39px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.component p{
    margin:5px 0px 6px;
    padding:8px 9px;
}
.aftnav{
    height:310px;
    background-image: url(static/aftnav.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.intro{
    height:40px;
    width:96.8%;
    margin-bottom: 25px;
    background-color: #f5f6f6;
    color:#0f1111;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
}
.intro a{
    text-decoration: none;
    color:#007185;
}
.intro a:hover{
    text-decoration: underline;
    color:rgb(247, 89, 31);
}
.content{
    background-color: rgb(217, 241, 248);
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h2{
    margin-bottom: 3.5px;
}
.box{
    height: 460px;
    width:23%;
    background-color: #ffffff;
    margin-top: 0%;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inbox{
    height:93%;
    width:90%;
    /* background-color: #ee6217f0; */
    
}
.inbox a{
    
    text-decoration: none;
    color:#007185;
}
.inbox a:hover{
    text-decoration: underline;
    color:rgb(247, 89, 31);
}
.terdiv{
    height:38%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.fourdiv{
    width:48%;
    height:100%;
    background-size: cover;
    /* border:solid #0F1111; */
}
.fourdiv a{
    font-size:.75rem;
    text-decoration: none;
    color:#000000;
}
.fourdiv a:hover{
    text-decoration: none;
    color:black;
}
.ininbox{
    height:88%;
    width:100%;
    margin-bottom: 15px;
    background-size: cover;
}

.fulldiv{
    width:100%;
    height:55%;
    background-size:cover ;
}
.fulldiv a{
    font-size:.75rem;
    text-decoration: none;
    color:#000000;
}
.fulldiv a:hover{
    text-decoration: none;
    color:black;
}
.threediv{
    height:90%;
    width:30%;
    background-size: cover;
}
.threediv a{
    font-size:.75rem;
    text-decoration: none;
    color:#000000;
}
.threediv a:hover{
    text-decoration: none;
    color:black;
}
.longbox{
    width:96.8%;
    height:350px;
    background-color:#ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}
.longinbox{
    /* background-color: aqua;   */
    width:97%;
    height:85%;
    
}
.longdiv{
    width: 100%;
    height: 270px;    
    background-color:#ffffff;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.longfivdiv{
    width:14%;
    height:100%;
    /* background-color: rgb(244, 64, 9);
    border: blue solid;*/
    background-size:cover;
} 
.footer_panel1{
    height:39px;
    font-size: .85rem;
    background-color: #184561e7 ;
    display: flex;
    color:#FFFFFF;
    align-items: center;
    justify-content: center;
}
.footer_panel1:hover{
    cursor: pointer;
    background-color:#1e6998e5  ;
}
.footer_panel2{
    height: 318.4px;
    background-color: #112733;
    display: flex;
    justify-content: space-evenly;
}
.footer_panel2 ul{
    margin-top: 3rem;
}
.footer_panel2 p{
    color: #ffffff;
    font-size:16px;
}
.footer_panel2 a{
    color: #dddddd;
    display: block;
    font-size: .85rem;
    text-decoration: none;
    margin-top: 10px;
}
.footer_panel2 a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer_panel3{
    height:100px;
    background-color: #112733;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:solid .01px #cccccc37;
}
.inpanel{
    height:35.6px;
    width:440.45px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.interpanel{
    border: #cccccc8a 1px solid;
    border-radius: 3.5px;
    font-size: .70rem;
    height:30px;
    margin-right:7.8px;
    padding: 7px;
    color: #cccccc;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.interpanel option{
    padding-left: 7.8px;
    padding-right: 7.8px;
}
.interpanel p{
    padding-left: 7.8px;
    padding-right: 20px;
}
.flag{
    background-image: url(static/usflag.png);
    background-size: cover;
    height: .70rem;
    width: 15px;
}
.footer_panel4{
    height:400.6px;
    background-color:#0F1111;
    color:#dddddd;
    padding: 30px;
    font-size: .75rem;
}
.smallbox_1{
    height:80.4;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.smallbox1{
    height:80.4px;
    width:102.7px;
    border: #cccccc;
    text-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
}
.shead{
    color:#dddddd;
}
.scontent{
    color:#999999;
}

.smallbox1 a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer_panel5{
    height: 77.5px;
    background-color:#0F1111;
    padding-top: 15px;
}
.lastdiv{
    height: 19.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
    font-size: 0.75rem;
}
.inlastdiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7.2px;
    padding-right: 7.2px;
}
.inlastdiv:hover{
    cursor: pointer;
    text-decoration: underline;
}
.no_cur:hover{
    cursor: text;
    text-decoration: none;
}